// आपकी जीत में हमारी जीत है I।
color: black;
 font-size: 12.90px;
 font-family: Inter;
 font-weight: 700;
 line-height: 15.48px;
 word-wrap: break-word
---
// 40+<br/>Projects
color: black;
 font-size: 7.17px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 10.75px;
 word-wrap: break-word
---
// 90%<br/>Return rate
color: black;
 font-size: 7.17px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 10.75px;
 word-wrap: break-word
---
// 20 million Lives changed
color: black;
 font-size: 7.17px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 10.75px;
 word-wrap: break-word
---
// We are Digi
color: black;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// Chakra
color: #FF0000;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// 360<br/>Mumbai’s 1st Design Focused<br/>
color: black;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// Results Driven<br/>
color: #FF0000;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// Premium Services<br/>
color: black;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// 360 Solutions<br/>
color: #FF0000;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// Digital Marketing<br/>Agency
color: black;
 font-size: 19.38px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 21.96px;
 word-wrap: break-word
---
// We have 
color: black;
 font-size: 9.28px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 13.91px;
 word-wrap: break-word
---
// 100+ 
color: #FF0101;
 font-size: 9.28px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 13.91px;
 word-wrap: break-word
---
// Success Stories! Do you Want to be next?
color: black;
 font-size: 9.28px;
 font-family: Playfair Display;
 font-weight: 400;
 line-height: 13.91px;
 word-wrap: break-word
---
// START A PROJECT
color: black;
 font-size: 3.88px;
 font-family: Noto Serif;
 font-weight: 600;
 line-height: 18.86px;
 word-wrap: break-word
---
// Company
color: black;
 font-size: 9.99px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 8.56px;
 word-wrap: break-word
---
// Subscribe Now
color: black;
 font-size: 7.75px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 6.64px;
 word-wrap: break-word
---
// EMAIL
color: #999999;
 font-size: 4.43px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 6.64px;
 letter-spacing: 0.35px;
 word-wrap: break-word
---
// Subscribe
color: black;
 font-size: 4.02px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 6.02px;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// About Us
color: black;
 font-size: 6.28px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 14.07px;
 word-wrap: break-word
---
// Career
color: black;
 font-size: 6.28px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 14.07px;
 word-wrap: break-word
---
// Our Team
color: black;
 font-size: 6.28px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 14.07px;
 word-wrap: break-word
---
// Legal information
color: black;
 font-size: 9.55px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 8.18px;
 word-wrap: break-word
---
// Privacy policy
color: black;
 font-size: 6.27px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 8.18px;
 word-wrap: break-word
---
// Terms of Use
color: black;
 font-size: 6.27px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 8.18px;
 word-wrap: break-word
---
// Terms and Conditions
color: black;
 font-size: 6.27px;
 font-family: Poppins;
 font-weight: 300;
 line-height: 8.18px;
 word-wrap: break-word